/*Import normailze reset*/
@import "./normalize.css";



/* Main site styles  */
* {
    box-sizing: border-box;
    color: #494949;
}

body {
    padding-top: 130px;
}

hr {
    color: #e7e7e7;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 16px;
}

div.v-application p,
p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #8e8e8e;
    margin: 0;
    padding: 0;
}

div.v-application {
    font-family: 'Fira Sans Condensed', sans-serif;
}

select {}

input {
    border-bottom: 1px solid gray;
}

.flex-column-nowrap {
    display: flex;
    flex-flow: nowrap column;
}

.short-num-input[type="number"] {
    width: 85px;
    border-bottom: 1px solid gray;
}

.select-all {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 0px 0 10px 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

input {
    overflow: hidden;
    text-overflow: text-ellipse;
}

.text-input {
    width: 100%;
    border-bottom: solid 1px black;
    margin: 10px 0;
    padding: 8px;
}

form.select-input-combo-contain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

select.select-input-combo {
    text-decoration: inherit;
    vertical-align: inherit;
    background: #eee;
    width: 115px;
    padding: 13px;
    border-radius: 7px 0 0 7px;
    overflow: hidden;
}

input.select-input-combo {
    padding: 13px;
    background: white;
    border: solid 1px white;
    width: 600px;
    border-radius: 0 7px 7px 0;
}

.select-input-combo::after {

    content: "V";
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    font-size: 16px;

}

div.text-btn-combo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

div.text-btn-combo button {
    margin-left: 34px;
}

.select-all::-ms-expand {
    display: none;
}

.select-all:hover {
    border-color: #888;
}

.select-all:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-all option {
    font-weight: normal;
}

.error-msg-red {
    padding: 20px;
    width: calc(100% - 40px);
    color: red;
    opacity: .7;
}

.loadingCover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    opacity: .4;
}

.main-input-container {
    display: flex;
    flex-flow: wrap row;
}

.main-input-container div {
    display: flex;
    flex-flow: wrap column;
}

.main-input-container .half {
    flex: 0 0 50%;
    padding: 5px;
}

.main-input-container .quarter {
    flex: 0 0 25%;
    padding: 5px;
}

.main-input-container .threeQuarters {
    flex: 0 0 75%;
    padding: 5px;
}

.sl-height {
    height: 85px;
}

.rating {
    width: 200px;
}

.note-w-rating {}

.note-w-rating .note {
    width: calc(100% - 200px);
    padding: 5px;
}

.note-w-rating .rating {
    width: 200px;
    padding: 5px;
}

.main-input-container .full {
    flex: 0 0 100%;
    padding: 5px;
}

.gray-btn {
    padding: 15px;
    border: solid 1px white;
    border-radius: 5px;
    margin: 10px;
    background-color: gray;
    color: white;
}

label {
    font-weight: 500;
}

.show-reviews-container .title {
    font-weight: 400;
}

.rating-star {
    color: #da9c05;
}


.flex-columns {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.container-1 {
    border: solid 1px #e4e4e4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 13px lightgray;
}

/*--------------------------------------
                 Grid System
----------------------------------------*/
.main-grid {
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-template-rows: 110px;
    grid-auto-rows: 125px;
    grid-gap: 16px;
}

.use-all-col {
    grid-column: col-start/17;
}

/* .use-2-col {
}

.use-4-col {}

.use-8-col {}

.use-16-col {} */


/*--------------------------------------
                 Flex containers
----------------------------------------*/

.flex-col-center-top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex-row-center-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------
                Cards
----------------------------------------*/


.home-card {}

.home-card:hover {
    cursor: pointer;
    opacity: .7;
}

.home-card picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.green-btn1 {
    padding: 5px 2px;
    color: white;
    background-color: green;
    border: solid 3px green;
    border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom: solid 3px green;
    border-radius: 5px;
    width: 200px;
    -webkit-box-shadow: 0px 2px 5px gray;
    box-shadow: 0px 2px 5px gray;
}